.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
/build
.idea/gradle.xml
.idea/libraries/appcompat_v7_22_1_1.xml
.idea/libraries/support_annotations_22_1_1.xml
.idea/libraries/support_v4_22_1_1.xml
.idea/compiler.xml
.idea/gradle.xml
.idea/compiler.xml
.idea/libraries/appcompat_v7_22_2_1.xml
.idea/libraries/play_services_7_5_0.xml
.idea/libraries/play_services_base_7_5_0.xml
.idea/libraries/play_services_nearby_7_5_0.xml
.idea/libraries/play_services_wearable_7_5_0.xml
.idea/modules.xml
.idea/vcs.xml
