<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tsvetan.mytestapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.read_external_storage" />
    <uses-permission android:name="android.permission.write_external_storage" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FeedActivity"
            android:label="@string/title_activity_feed" >
        </activity>
        <activity
            android:name=".One"
            android:label="@string/title_activity_one" >
        </activity>
        <activity
            android:name=".Second"
            android:label="@string/title_activity_second" >
        </activity>

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".HttpClientActivity"
            android:label="@string/title_activity_http_client" >
        </activity>
    </application>

</manifest>
